*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(26, 25, 23); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .fake{
    /* background-color: #ededf4; */
    /* color: rgb(245, 245, 8); */
    position: relative;
    top:10rem;
    left: 20px;
    
} 
.fakee{
    background-color: rgb(17, 17, 201);
    color: rgb(19, 241, 241); 
   
}
body{
    background-color: #101010;
    color: white;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #101010;
   
  
   
}
.maincontent{
    display: flex;
    align-items: center;
    width: 552px;
   
    margin-right: 30px;
    /* gap:2px; */
    
}

.content{
    display: flex;
    align-items: center;
    list-style: none;
    
  

    height: 30px;
    /* width:400px; */
    color: #ffffff;
    margin-right: 10rem;
    
}
.home a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(244, 238, 238);
    font-size: medium;
    
}
#logo{
    color: #ffffff;
    font-size: large;
    font-weight: 500;
    padding-left: 15px;
    border: none;
   
}


/* @media (max-width:475px) {
    .content{
        visibility: hidden;
    }
    
} */

   

.home a{
    list-style-type: none;
    text-decoration: none;
   
}
/* .content:hover{
    
}    */
/* }
nav{
    display: inline-block;
}
.nav a{
    color: rgb(1, 128, 239);
    margin-left: 9px;
    justify-content: spac-between;
    display: inline;

}
ul{
    list-style-type: none;
    background-color: rgb(200, 25, 25);
     */
 
a{
    text-decoration: none;
    
    
}
.home{
    /* background-color: rgb(33, 33, 34); */
    
    height: 33px;
    width: 80px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;   
   
}

 .home :hover{
    background-color:#fffffffa;
    color: black;
    
    transition-duration: 1s;
 }
.icon{
   
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    visibility: hidden;
    justify-content: center;
    border: none;
    /* margin-right: 30px; */
    
    
    
}

.maincontainer{
   
    height: 200px;
   
    display: flex;
    /* margin-bottom: px; */
    /* margin-left: 15px; */
    
   
   
    font-family: "Space Mono", monospace;
    position: relative;
    top:52px; 

}
.imga{
   margin-left: 15px; 
    height: 200px;
    /* background-color: blue; */
    width: 23%;
    /* border-bottom: 2px solid black;*/
    /* border-radius: 15px; 
     */
    
   
   
}
.real{
   
   
    background-color:rgb(26, 25, 23);
    width: 100%;
    height: 100%;
    border-bottom: 4px solid black;
    border-radius: 15px;
    

    background-image: url('helo.jpg');
    background-size: cover;
   

}

.intro{
    /* background-color: aquamarine; */
    width: 60%;
    height: 200px;
    margin-left: 11px;
    margin-right: 15px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* display: inline-block;   */
    /* align-:center; */
   }
/* .name{
  
    
   align-items:; 
} */
.brief{
    
   text-align: left;
   max-width: 600px;    
}
.button{
    display: flex;
    flex-direction: row;

}
.contact{
    height: 30px;
    margin-left: 1px;
    padding: 10px 10px 10px 10px ;
    display: flex;
    align-items: center;
    justify-content:center;
   
  
    background-color:#007FFF;
    border-style: hidden;
    border-radius: 6px;
    color: #fffffffa;  
}
.contact:hover{
    background-color: white;
    color:black;
    border: 2px solid black;
    transition-duration: 1s;
}
.resume{
    height: 30px;
    margin-left: 7px;
    background-color:rgb(27, 34, 42);
    border-style: hidden;
    border-radius: 6px;
   
    color: #fffffffa;
    padding: 10px 10px 10px 10px ;
    display: flex;
    align-items: center;
}
.resume:hover{
    background-color: white;
    border: 2px solid black;
   
    color:black;
    transition-duration: 1s;
}
.about{
    height: 110px;
    width: 100%;
    
    /* background-color:rgb(26, 25, 23);;  */
    /* color: #ffffff; */
    display: flex;
    font-family: "Space Mono", monospace;
    /* justify-content:flex-start; */
    flex-direction:column;
    align-content: flex-start;
    /* align-items: center; */
    margin-bottom: 0px;
    position: relative;
    top:5rem;
}
.about{
    margin-top: 10px;
}
.abt{
     margin-left: 15px;
     font-size: large;
     font-weight: bold;
   
    
     
    

}
/* .abt:hover{
    
 
   
} */
.brief2{
    max-width: 900px;
    font-size: 15px;
    
    text-align: left;
    margin-left: 15px;
    margin-top:11px;
   
    
    
    
}
.knowledge{
    width: 50%;
    
    height: 100px;
  
    display: flex;
    /* flex-wap: wrap; */
   
   
    font-family: "Space Mono", monospace;
    position: relative;
    top:4rem;
    
   
   
    /* justify-content: space-around; */
    /* align-items: center; */
  

}
.html{
    height: 100px;
    width: 150px;;
    background-color:rgb(27,34,42);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 6px;
    padding: 00px 10px 0px 10px ;
  
}

#htlm{
    background-color:rgb(27,34,42);
    color: white;
    font-size: 25px;
    margin:3px 0px 0px 3px;
}

/* .full-stack:hover{
    color: #101010; */

.full-stack{
    color: #ffffff;
    max-width: 90px;
    background-color: rgb(27,34,42);
    font-size: 10px;
   font-weight: 700;
    
    
}
.css{
    height: 100px;
    width:150px;
    background-color: rgb(27,34,42);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 6px;
    padding: 00px 10px 0px 10px ;
}
#cs{
    background-color: rgb(27,34,42);
    color: white;
    font-size: 25px;
    margin:3px 0px 0px 3px;
}
.db{
    color: #ffffff;
    max-width: 90px;
    background-color: rgb(27,34,42);
    font-size: 10px;
   font-weight: 700;

}
.django{
    height: 100px;
    width:150px;
    background-color:rgb(27,34,42);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 6px;
    padding: 00px 10px 0px 10px ;
}
#dj{
    background-color: rgb(27,34,42);
    color: rgb(245, 240, 240);
    font-size: 25px;
    margin:3px 0px 0px 3px;

}
.perform{
    color: #ffffff;
    max-width: 90px;
    /* background-color: rgb(27,34,42); */
    font-size: 10px;
   font-weight: 700;
}
.project{
    /* background-color:rgb(26, 25, 23); */
    /* color: white; */
    margin-left: 15px;
    margin-top:20px;
    width: 50%;
    position: relative;
    top:7rem;
}
.parent{
    width: 100%;
    height: 122px;
    /* background-color:rgb(26, 25, 23); */
    display: flex;
    border-radius: 6px;
    padding-top: 15px;

   
    /* margin-top: 5px; */
    font-family: "Space Mono", monospace;
}

   
    

    
    

.chatap{
   
    width:150px;
    background-color: rgb(10, 11, 11);
  
   
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    
   
    /* justify-content: space-evenly; */
    border-radius: 6px;
    

}
.chatap1{
    height:90px;
    width: 100%;
    background-image: url('chat.jpg');
    background-color: #101010;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-size: cover;

}
.disc1{
    height: 20%;
    width: 100%;   
    background-color:  rgb(15, 15, 15);
    color: white;
    /* display: flex;
    flex-direction: row; */
    border-radius: 6px;
}
.disca{
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
   font-weight: 500;
   
   
    background-color: rgb(14, 14, 15);

    
   
  
}

.ecommerce{
    
    width:150px;
    background-color: rgb(10, 11, 11);
  
   
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    
   
    /* justify-content: space-evenly; */
    border-radius: 6px;
   margin-left: 5px;

}
.ecommerce1{
    height:90px;
    width: 100%;
    background-image: url('ecommerce.jpg');
   
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-size: cover;
   

}
.disc2{
    height: 20%;
    width: 100%;   
    
   
    /* display: flex;
    flex-direction: row; */
    border-radius: 6px;

}
.discb{
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
   font-size: 12px;
   font-weight: 500;
   background-color: black;
    

}
.fa-solid{
    color: rgb(250, 249, 248);
    background-color: #101010;
    font-size: large;
    font-weight: 700;
}


.white{
    background-color: white;
    color: black;
}
    
 

    @media(max-width:396){
        .home{
         visibility: hidden;
        }
        /* .maincontent{
         margin-left: 0;
         overflow: visible;
        }
      */
     }
@media(max-width:665px){
   
   .icon{
    visibility: visible;
   }
   .navbar{
    margin-left: 0;
   
   }
   .content{
    display: none;
 }
.maincontent{
    justify-content: flex-end;
}
.sidebar{
    background-color: rgba(128, 128, 128, 0.5); /* Medium gray with 70% opacity */

     color: whi;
     height: 10rem;
     position: fixed;
     width: 100%;
     top: 45px;
     z-index: 1;
     display:  flex ;
     flex-direction: column; 
      justify-content: space-around;
     align-items: center;
     
 }

 .sidehome a{
     color: white;
 }
 .sidehome a:hover{
     background-color: white;
     color: black;
     transition-duration: 1s;
 }
.knowledge{
    top:6rem;
}


}
@media(max-width:475px)
{
   
    /* .content{
        visibility: hidden;
    } */
    
    /* .maincontent{
        justify-content:flex-start ;
    } */
    #logo{
        padding-left: 15px;
    }
    .sidebar{
       background-color: rgba(128, 128, 128, 0.5); /* Medium gray with 70% opacity */

        color: whi;
        height: 10rem;
        position: fixed;
        width: 100%;
        top: 45px;
        z-index: 1;
        display:  flex ;
        flex-direction: column; 
         justify-content: space-around;
        align-items: center;
        
    }
 
    .sidehome a{
        color: white;
    }
    .sidehome a:hover{
        background-color: white;
        color: black;
        transition-duration: 1s;
    }

.mainsidebar{
   /* display: flex;
   flex-direction: ;
   justify-content: space-between;
   align-items: center; */
   height: 0px;
}
.x{
    height: 20px;
}
/* { 
    
    height: 10px;
    font-size: 3rem;
    width: 10px;
   
    color: rgb(238, 228, 228);
}

    font-size: 3rem;
} */



    .maincontent{
        justify-content:flex-end;
    }
   
    
    .content{
       display: none;
    }
    
    
    .icon{
        display: flex;
        align-self: center;
        padding-right: 5px;
        
    }
    .imga{
        width: 200px;
       margin: 0;
    }
    .real{
        
         /* height: 100px;  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-top: 4px solid black;

    }
    .maincontainer{
        display:flex; 
          /* background-color:rgb(26, 25,23);;  */
         margin-bottom: 0;
        height: 400px;
        flex-direction: column;
        align-items: center;
        /* justify-conent: center; */
       
    }
    .intro{
        margin-right: 20px;
        padding: 0;

        justify-content:space-between;
        align-items: center;
        align-content: center;
        height: 200px;
        
    }
    .name{
        font-size: 15px;
        text-align: center;
    }
    .brief{
        font-size: 13px;
        max-width: 200px;
        text-align: center;

    }
    .button{
        align-self: center;
        width: 200px;

    }
    .contact{
        font-size: 10px;
        margin-right: 5px;

    }
    .resume{
        font-size: 10px;

    }
    .abt{
        font-size: 16px;

    }
    .brief2{
        font-size: 13px;
    }
    .django{
        margin-left: 15px;
        gap: 15px;
    }
    .knowledge{
        display: flex;
       
        flex-wrap: wrap;
        flex-wrap: nowrap;
        width: 170px;
        top:6rem;
        
       
        
    }
   
h4{
        font-size: small;
        /* max-width:fit-content; */
    }
    
.parent{
    width: 100%;
    height: 122px;
   
    display: flex;
    border-radius: 6px;
    padding-top: 15px;

    flex-wrap: wrap;
    flex-wrap: nowrap;
    /* margin-top: 5px; */
    font-family: "Space Mono", monospace;
}
    .css{
        margin-left: 15px;
    }
    .django{
        margin-left: 15px;
    }
    .ecommerce{
        margin-left: 15px;
    }
    
}

